.image-container {
  position: relative;
  overflow: hidden;
  width: 400px; /* Adjust to your preferred container size */
  height: 300px; /* Adjust to your preferred container size */
  border-radius: 1rem;
  margin: 1rem;
}

.image-container:hover img {
  transform: scale(1.1); /* Adjust the scale factor as needed */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container */
  transition: transform 0.3s ease-in-out;
}
